# Core
Django
Pillow
python-dotenv

# Database
psycopg2-binary

# Static files
whitenoise

# Development
django-debug-toolbar

# Testing
pytest
pytest-django

# Code quality
black
flake8
isort

# Frontend
libsass==0.23.0
crispy_forms==2.1.1
crispy_bootstrap5==2024.4

gunicorn
dj-database-url
python-decouple
whitenoise
psycopg2-binary
